html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: cyan;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list a:hover {
    background: blue;
}

.nav-list {
    display: flex;
}

li {
    list-style-type: none;
}
#welcome-section{
    background-color: antiquewhite;
    color: #fff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, lfr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

/*  .project {
    background: #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0.5);
    border-radius: 2px;

} */

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rems;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
transition: translateY(8px);
}

@media (max-width: 28.75em) {
    .contact-links {
        flex-direction: column;
        text-align: center;
    }
}