

* {
    margin: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header {
    background-color: black;
    color: yellow;
}

body {
    background-color: slategray;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

figure {
    margin: 1rem;
}

figcaption {
    background-color: black;
    text-align: center;
    color: yellow;
}

.button {
    color: yellow;
    background-color: black;
}