html {
  height: 100%;
  width: 100%;
  background-color: #011f52;
}

/* --- HEADER --- */
header {
  background-color: #9a0056;
}

header {
  width: 100%;
  height: 300px;
  background-image: url(/images/yugiohbackground.png);
  background-repeat: no-repeat;
  background-size: 2000px;
}


header h1 {
  background-image: url(/images/pokemon/yugimonlogo.png);
  background-repeat: no-repeat;
  background-position: center;
  color:#ffc100;
  text-align: center;
  padding-top: 250px;
  
  font-size: 2rem;
  font-family: 'Signika', sans-serif;
}

/* --- NAV --- */

nav {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li a {
  display: block;
  padding: .5rem 1.5rem;
  color: #ffc100;
  font-family: 'Signika', sans-serif;

}

nav ul.menu li a:hover {
  background-color: #ffc100;
  color: #000;
}

nav ul.menu li.active {
  background-color: #580069
}

/* --- BUTTONS --- */
button {
  background-color: #9a0056;
  color: #ffc100;
  font-family: 'Signika', sans-serif;
}

select {
  background-color: #9a0056;
  color: #ffc100;
  font-family: 'Signika', sans-serif;
}

/* --- BODY --- */

* {
    margin: 0;
    box-sizing: border-box;
}

/* --- GRID --- */

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 10px;
    perspective: 600px;
  }

/* --- CARD --- */

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    /* overflow: hidden; If things are too big for container hides it*/
    /* backface-visibility: hidden; */
    /* transform: rotateY(180deg); */

  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
  }

  .card__face--front {
    background: black;
    background-image: url(/images/pokemon/yugiohcardfront.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    text-align: center;
    font-family: 'Signika', sans-serif;
    color: black;
    
    /* filter: opacity(0%); */
    /* transform: rotateY(180deg); */

    /* backface-visibility: hidden; */
  }

  .card__face--front img {
    width: 100%;
  }
  
  .card__face--back {
    /* backface-visibility: hidden; */
    background-image: url(/images/pokemon/yugiohback.jpg);
    background-repeat: no-repeat;
    background-size: 200px, 260px;
    text-align: center;
    font-family: 'Signika', sans-serif;
    color: #eee;
    transform: rotateY(180deg);
    background-color: #3D7DCA;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

