/* --- HEADER --- */
header {
  background-color: #9a0056;
}

/* --- NAV --- */
nav {
  linear-gradient:(to bottom, #11007e 0%, #2e227c 100%);
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

header h1 {
  color:#ffc100;
  padding: 1rem 0 0 2%;
  font-size: 2rem;
  font-family: "Pokemon";
}

nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li a {
  display: block;
  padding: .5rem 1.5rem;
  color: #ffc100;
  text-decoration: none;
  border-right: solid 1px #f3f3f3;

}

nav ul.menu li a:hover {
  background-color: #ffc100;
  color: #000;
}

nav ul.menu li.active {
  background-color: #580069
}

/* --- BODY --- */

body {
  background-color:	#003287;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 10px;
    perspective: 600px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    /* overflow: hidden; If things are too big for container hides it*/
    /* backface-visibility: hidden; */
    /* transform: rotateY(180deg); */

  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
  }

  .card__face--front {
    background: black;
    background-image: url(/images/pokemon/yugiohcardfront.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    text-align: center;
    font-family: pokemon;
    color: black;
    
    /* filter: opacity(0%); */
    /* transform: rotateY(180deg); */

    /* backface-visibility: hidden; */
  }

  .card__face--front img {
    width: 100%;
  }
  
  .card__face--back {
    /* backface-visibility: hidden; */
    background-image: url(/images/pokemon/yugiohback.jpg);
    background-repeat: no-repeat;
    background-size: 200px, 260px;
    text-align: center;
    font-family: pokemon;
    color: #eee;
    transform: rotateY(180deg);
    background-color: #3D7DCA;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

